body{

    color: rgb(238, 12, 12); 
    background-color: black;
    font-size: larger;
    display: grid;
    place-items: center;   
    
}

img {

    border-color: rgb(17, 17, 204);
    border-width: 3px;
    border-style: double;
    width: 200px;
    height: 200px;
    margin: 5px;
   
}

div{
    color: white;
}



#informacion{
background-color: lightslategray;
font-style: italic;
color: black;

}

#contenedor-imagenes{
  display: -webkit-inline-box;
  flex-direction: row;
      
}